<div class="background">
  <div class="san-vicente-logo">
    <img src="assets/san-vicente-logo.png" alt="San Vicente Logo" class="left-image">
    <p class="custom-text">Welcome to Barangay San Vicente !</p>
    <div class="info">
      <p>San Vicente is a barangay in the municipality of Santa Maria, in the<br/> province of Bulacan. Its population as determined by the 2020 Census was 24,451. This represented 8.44% of the total population of Santa Maria.</p>
      <p>San Vicente is situated at approximately 14.8072, 121.0093, on the island of  Luzon. Elevation at these coordinates is estimated at 44.0 meters or 144.4 feet above mean sea level.</p>
    </div>
  </div>
</div>
